body {
  font-family: peyda;
}

@font-face {
  font-family: peyda;
  src: url(./assets/fonts/IRANSansX-Medium.woff) format(woff);
}

.custom-container {
  @apply mx-3 xs:mx-5 sm:mx-7  md:mx-10 lg:mx-12 xl:mx-15 2xl:mx-auto 2xl:max-w-[1400px];
}
.text-hover:hover {
  color: var(--dp-org);
  transition: color 0.3s ease;
}
.gradient {
  background: linear-gradient(264.86deg, #dc2f02 0%, #ff7b00 100%);
}
.sm-shaddow {
  box-shadow: -2px 0px 8px 0 #dc2f0233;
}
.gray-shaddow {
  box-shadow: 0px 4px 8px 0px #6666661a;
}
.text-hover {
  @apply hover:fill-org hover:text-org transition-[color_fill] duration-300;
}
:root {
  --dp-white: #ffffff;
  --dp-gray: #666666;
  --dp-red: #dc2f02;
  --dp-bc: #e0e0e0;
  --dp-dark: #333333;
  --dp-org: #e85d04;
  --dp-bc2: #f0f0f0;
  --dp-light2: #fff6e7;
  --dp-org3: #f8d5cc;
  --dp-gray2: #b3b3b3;
  --dp-yel3: #f9cfb4;
  --dp-bc3: #66666633;
  --dp-org2: #e85d0433;
  --dp-yel2: #faa3071a;
  --dp-bc4: #66666680;
  --dp-black: #000000;
  --dp-light: #f5f5f5;
  --dp-yel: #faa307;
  --dp-grad: linear-gradient(0deg, 0%, 100%);
  --dp-grad2: linear-gradient(264.86deg, #dc2f02 0%, #ff7b00 100%);
}

::selection {
  background-color: var(--dp-org);
  color: #ffffff;
}

@theme {
  --font-peyda: "peyda";
  --breakpoint-xs: 450px;
  --color-gray: #666666;
  --color-light-gray: #e0e0e0;
  --color-dark-gray: #66666680;
  --color-dark: #333333;
  --color-red: #dc2f02;
  --color-org: #e85d04;
  --color-yel: #faa3071a;
  --color-light: #fff6e7;
  --color-yel2: #f9cfb4;
}
@import "tailwindcss";
