.add-to-cart {
  --color: #fff;
  --icon: var(--color);
  --cart: #fff;
  --dots: #fff;
  cursor: pointer;
  position: relative;
  outline: none;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 12px;
  margin-top: 4px;
  border: 1px solid #f9cfb4;
  background-color: #faa3071a;
  color: #dc2f02;
  transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
  .default {
    position: relative;
    transition: color 0.4s ease, opacity 0.4s ease, transform 0.5s ease;
    opacity: var(--o, 1);
  }

  .success {
    color: #ffffff;
    opacity: var(--o, 0);
    transform: translate(-50%, var(--y, 12px));
    position: absolute;
    top: 0px;
    left: 50%;
    transition: color 0.4s ease, opacity 0.4s ease, transform 0.5s ease;
    transition-delay: var(--d, 0s);
  }
  .dots {
    width: 4px;
    height: 4px;
    top: 20px;
    left: 50%;
    margin-left: -7px;
    border-radius: 2px;
    position: absolute;
    transform-origin: 10px 50%;
    background: var(--dots);
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
    opacity: var(--o, 0);
    transform: scale(var(--s, 0.4));
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: var(--d, 0s);
  }
  .cart {
    position: absolute;
    top: 30%;
    right: 100%;
    z-index: 1;
    overflow: hidden;
  }
  &.added {
    background: linear-gradient(222.49deg, #dc2f02 23.91%, #ff7b00 76.09%);
    color: #ffffff;
    transform: scale(1.03);
    .default {
      --o: 0;
      --s: 0.8;
      --d: 0s;
      &:before {
        --r: -180deg;
      }
      &:after {
        --r: -90deg;
      }
    }
    .dots {
      --o: 1;
      --s: 1;
      --d: 0.3s;
      animation: dots 2s linear forwards;
    }
    .success {
      --o: 1;
      --y: 0;
      --d: 1.8s;
    }
    .cart {
      animation: cart 2.3s;
    }
  }
  &:not(.added) {
    &:hover {
      background: linear-gradient(222.49deg, #dc2f02 23.91%, #ff7b00 76.09%);
      color: #ffffff;
      transform: scale(1.03);
      --s: 1;
      --s-y: 8px;
      --s-b: 20px;
    }
    &:active {
      --s: 0.94;
      --s-y: 2px;
      --s-b: 6px;
    }
  }
}

@keyframes cart {
  41%,
  49%,
  57%,
  60% {
    transform: translateX(105px) rotate(0deg);
  }
  40%,
  47% {
    transform: translateX(105px);
  }
  60% {
    transform: translateX(115px) rotate(-13deg);
  }
  100% {
    transform: translateX(230px) rotate(-19deg);
  }
}

@keyframes dots {
  5% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px) rotate(-32deg);
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32% {
    transform: translateY(-5px) rotate(0deg);
    opacity: 1;
  }
  45% {
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }

  50%,
  100% {
    box-shadow: none;
    opacity: 0;
  }
}
