.add-to-cart {
  --color: #fff;
  --icon: var(--color);
  --cart: #fff;
  --dots: #fff;
  cursor: pointer;
  width: 100%;
  position: relative;
  outline: none;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 12px;
  margin-top: 4px;
  border: 1px solid #f9cfb4;
  background-color: #faa3071a;
  color: #dc2f02;
  transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
  .default {
    position: relative;
    transition: color 0.4s ease, opacity 0.4s ease, transform 0.5s ease;
    opacity: var(--o, 1);
  }

  .success {
    width: 100%;
    color: #ffffff;
    opacity: var(--o, 0);
    transform: translate(-50%, var(--y, 12px));
    position: absolute;
    top: 0px;
    left: 50%;
    transition: color 0.4s ease, opacity 0.4s ease, transform 0.5s ease;
    transition-delay: var(--d, 0s);
  }
  .dots {
    top: 10px;
    left: 50%;
    margin-left: -9px;
    position: absolute;

    opacity: var(--o, 0);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: var(--d, 0s);
  }
  .cart {
    position: absolute;
    width: 200px;
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: end;
    z-index: 1;
    overflow: hidden;
  }
  &.added {
    background: linear-gradient(222.49deg, #dc2f02 23.91%, #ff7b00 76.09%);
    color: #ffffff;
    transform: scale(1.03);
    .default {
      --o: 0;
      --s: 0.8;
      --d: 0s;
    }
    .dots {
      animation: dots 2s linear forwards;
    }
    .success {
      --o: 1;
      --y: 0;
      --d: 1.8s;
    }
    .cart svg {
      animation: cart 2.3s;
    }
  }
  &:not(.added) {
    &:hover {
      background: linear-gradient(222.49deg, #dc2f02 23.91%, #ff7b00 76.09%);
      color: #ffffff;
      transform: scale(1.03);
      --s: 1;
      --s-y: 8px;
      --s-b: 20px;
    }
    &:active {
      --s: 0.94;
      --s-y: 2px;
      --s-b: 6px;
    }
  }
}
.cart svg {
  fill: white !important;
  opacity: 0;
}
@keyframes cart {
  20% {
    opacity: 1;
  }
  41%,
  46%,
  49% {
    transform: translateX(85px);
    opacity: 1;
  }
  57% {
    transform: translateX(85px);
    opacity: 1;
  }
  60% {
    transform: translateX(100px);
    opacity: 0.8;
  }
  83% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes dots {
  5% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-18px) rotate(-25deg);
  }
  45% {
    opacity: 0.8;
  }
  50% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
